In [1]:
import pandas as pd

In [3]:
groceries = pd.Series([30,20,1,"Yes", "No"], ["apples", "oranges", "eggs", "milk", "chocolate"])
groceries

apples        30
oranges       20
eggs           1
milk         Yes
chocolate     No
dtype: object

In [5]:
groceries[1]

20

In [6]:
groceries[-1]

'No'

In [7]:
groceries[[0,1]]

apples     30
oranges    20
dtype: object

In [9]:
groceries[["apples", "oranges"]]

apples     30
oranges    20
dtype: object

In [13]:
groceries[["apples", "oranges"]] = [40, 50]
groceries

apples        40
oranges       50
eggs           1
milk         Yes
chocolate     No
dtype: object

In [21]:
groceries.loc["chocolate"]

'No'

In [20]:
groceries.iloc[-1]

'No'

In [24]:
groceries.drop("eggs")

apples        40
oranges       50
milk         Yes
chocolate     No
dtype: object

In [25]:
groceries

apples        40
oranges       50
eggs           1
milk         Yes
chocolate     No
dtype: object

In [27]:
groceries.drop("eggs", inplace = True)
groceries

apples        40
oranges       50
milk         Yes
chocolate     No
dtype: object