In [61]:
import pandas as pd

In [71]:
groceries = pd.Series([30,20,1,"Yes", "No"], ["apples", "oranges", "eggs", "milk", "chocolate"])
groceries

apples        30
oranges       20
eggs           1
milk         Yes
chocolate     No
dtype: object

In [72]:
groceries * 2

apples           60
oranges          40
eggs              2
milk         YesYes
chocolate      NoNo
dtype: object

In [73]:
groceries.drop(["milk", "chocolate"], inplace = True)
groceries /2 + 1 -2

apples      14
oranges      9
eggs      -0.5
dtype: object

In [74]:
groceries.loc[["apples","oranges"]]*3

apples     90
oranges    60
dtype: object

In [75]:
groceries

apples     30
oranges    20
eggs        1
dtype: object

In [80]:
groceries[-1] * 100
groceries

apples      30
oranges     20
eggs       100
dtype: object

In [77]:
groceries

apples      30
oranges     20
eggs       100
dtype: object

In [78]:
import numpy as np
groceries2 = pd.Series([1,2,3,4], [10,20,30,40])
np.sqrt(groceries2)

10    1.000000
20    1.414214
30    1.732051
40    2.000000
dtype: float64

In [79]:
import numpy as np
groceries2 = pd.Series([1,2,3,4], [10,20,30,40])
np.mean(groceries2)

2.5